@media (prefers-color-scheme: dark) {
  body {
    background-color: $theme-bg-color-dark;
    color: white;
  }
  
  header h1 {
    color: $theme-text-color-dark;
  }
  
  a {
    color: $theme-text-color-dark;
  }
  
  .pagination a:hover {
    background-color: $theme-text-color-dark;
    color: $theme-bg-color-dark;
  }
}