@media (prefers-color-scheme: dark) {
  body {
    background-color: $theme-bg-color-dark;
    color: $theme-paragraph-color-dark;
  }
  
  header h1 {
    color: $theme-text-color-dark;
  }
  
  a {
    color: $theme-text-color-dark;
  }
  
  section pre, code:not(pre code) {
	background-color: #202020;
  }

  .pagination a:hover {
    background-color: $theme-text-color-dark;
    color: $theme-bg-color-dark;
  }

  .timeline:before {
	background: $timeline-color-dark;
  }
  .timenode-head:before {
	background: $timeline-point-color-dark;
  }
  .timenode-body {
	background: $timeline-body-color-dark;
  }

  ::selection {
    color: $theme-bg-color-dark;
    background-color: $theme-selection-color-dark;
  }
  a::selection {
    color: $theme-text-color-dark;
    background-color: $theme-selection-color-dark;
  }
  h1::selection {
    color: $theme-text-color-dark;
    background-color: $theme-selection-color-dark;
  }
}
