$theme-text-color: #BC3430;
// $theme-text-color-dark: #BC3430;
// $theme-text-color-dark: #FF770F;
$theme-text-color-dark: #F4CA45;

$theme-paragraph-color: #282828;
$theme-paragraph-color-dark: #e1e1e1;

$theme-bg-color: white;
//$theme-bg-color: #F4CA45;
$theme-bg-color-dark: black;

$theme-selection-color: #7c7c7c;
$theme-selection-color-dark: #e1e1e1;

/* headline scale */
$h-size-largetitle: 2.125em;
$h-size-heading1: 1.750em;
$h-size-heading2: 1.375em;
$h-size-heading3: 1.250em;
$h-size-subheading: 1.0625em;
$h-size-body: 1.2rem; // Regular font size
$h-size-body-smaller: 1rem;
$h-size-caption: 1rem;
$h-size-subtitle: 1.0625rem;
$h-size-footnote: 0.812rem;
$h-size-note1: 0.75em;
$h-size-note2: 0.688em;

$timeline-color: #dddddd;
$timeline-color-dark: #282828;
$timeline-point-color: $theme-text-color;
$timeline-point-color-dark: $theme-text-color-dark;
$timeline-body-color: #dddddd;
$timeline-body-color-dark: #282828;
