$theme-text-color: #BC3430;
// $theme-text-color-dark: #BC3430;
// $theme-text-color-dark: #FF770F;
$theme-text-color-dark: #F4CA45;

$theme-bg-color: white;
//$theme-bg-color: #F4CA45;
$theme-bg-color-dark: black;
