$theme-text-color: #BC3430;
// $theme-text-color-dark: #BC3430;
// $theme-text-color-dark: #FF770F;
$theme-text-color-dark: #F4CA45;

$theme-bg-color: white;
//$theme-bg-color: #F4CA45;
$theme-bg-color-dark: black;

/* headline scale */
$h-size-largetitle: 2.125em;
$h-size-heading1: 1.750em;
$h-size-heading2: 1.375em;
$h-size-heading3: 1.250em;
$h-size-subheading: 1.0625em;
$h-size-body: 1.0625em; // Regular font size
$h-size-caption: 1em;
$h-size-subtitle: 0.938em;
$h-size-footnote: 0.812em;
$h-size-note1: 0.75em;
$h-size-note2: 0.688em;

$timeline-color: #dddddd;
$timeline-color-dark: #282828;
$timeline-point-color: $theme-text-color;
$timeline-point-color-dark: $theme-text-color-dark;
$timeline-body-color: #dddddd;
$timeline-body-color-dark: #282828;
